@use 'styles/breakpoints' as *;

.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background: var(--mobile-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    @include medium {
      background: var(--desktop-header);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .Logo {
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: 700;
    color: white;

    @include medium {
      font-size: 3rem;
    }
  }

  .Theme {
    color: white;

    img {
      width: 1.5rem;

      @include medium {
        width: 2rem;
      }
    }
  }
}
