@use 'styles/breakpoints' as *;

.TodoList {
  width: 100%;
  background: var(--secondary-background);
  border-radius: 8px;
  box-shadow: 0 10px 42px -2px var(--shadow);
  color: var(--secondary-text);
  font-size: 14px;

  @include medium {
    font-size: 1em;
  }

  .Utilities {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    > div:first-of-type {
      display: none;

      @include small {
        display: flex;
      }
    }

    .Clear {
      &:hover {
        cursor: pointer;
        color: var(--primary-text);
      }
    }
  }
}
