@use 'styles' as *;

.TodoList {
  width: 100%;
  background: $very-light-gray;
  border-radius: 8px;
  box-shadow: 0 10px 42px -2px $light-grayish-blue;
  color: $dark-grayish-blue;

  .Utilities {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    .Status {
      display: flex;
      gap: 16px;
      font-weight: 700;

      span {
        cursor: pointer;
        &:hover {
          color: $very-dark-grayish-blue;
        }
      }
    }

    .Clear {
      &:hover {
        cursor: pointer;
        color: $very-dark-grayish-blue;
      }
    }
  }
}
