@use 'styles' as *;

.TodoList {
  width: 100%;
  background: $very-light-gray;
  border-radius: 8px;
  box-shadow: 0 10px 42px -2px $light-grayish-blue;
  color: $dark-grayish-blue;
  font-size: 14px;

  @include medium {
    font-size: 1em;
  }

  .Utilities {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    > div:first-of-type {
      display: none;

      @include small {
        display: flex;
      }
    }

    .Clear {
      &:hover {
        cursor: pointer;
        color: $very-dark-grayish-blue;
      }
    }
  }
}
