@use 'styles/breakpoints' as *;

.Status {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: var(--dark-grayish-blue);
  font-weight: 700;

  @include small {
    display: none;
  }

  span {
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--primary-text);
    }
  }

  .Active {
    color: var(--bright-blue);
  }
}
