@use 'styles/breakpoints' as *;

.TodoItem {
  color: var(--primary-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border);
  cursor: pointer;

  @include medium {
    padding: 0 2rem;
    gap: 2rem;

    &:hover {
      .Remove {
        display: block;
      }
    }
  }

  .Item {
    flex: 1;
  }

  .Remove {
    cursor: pointer;
    display: block;

    @include medium {
      display: none;
    }
  }

  .Checked {
    color: var(--secondary-text);
    text-decoration: line-through;
  }

  &:hover {
    span {
      display: block;
    }
  }
}
